<div class="floating-input relative">
  <input
    [formControl]="control"
    class="
      border border-gray-200
      focus:outline-none
      rounded-md
      focus:border-blue-500
      focus:shadow-sm
      w-full
      p-3
      h-16
    "
    placeholder="name@example.com"
    autocomplete="off"
  />
  <label
    class="
      absolute
      top-0
      left-0
      px-3
      py-5
      h-full
      pointer-events-none
      transform
      origin-left
      transition-all
      duration-100
      ease-in-out
    "
  >
    {{ label }}
  </label>
</div>
<span class="text-xs text-red-500 flex items-center mt-1" *ngIf="hasError()">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="h-3 w-3 mr-1">
    <path
       fill="currentColor"
      d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"
    />
  </svg>
  {{ errorMessage }}
</span>
